/.cache/
/.oh-my-zsh/
/.vim/
/.gitconfig
/db/
postgresql*.tar.gz
log/
.tmux.conf
.viminfo
.vimrc
.gemrc
.zshrc
.zcompdump*
.zsh-update
.zsh_history
dockyard
env.sh
mysql2pgsql.yml
.env
*.sql
*.tar.gz
/new*/

